body {
  font-family: 'Helvetica';
}
h1,
h2,
h3 {
  margin: 10px 0;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 26px;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: #70d9f3;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 170px;
}
button {
  font-size: 20px;
  padding: 13px;
  margin: 10px;
  border-radius: 10px;
  border: 5px #a198f5 solid;
  background-color: #51f3a7;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #f79f2c;
  width: 10px;
}
button.remove {
  background-color: #f56831;
  width: 10px;
}
button.badge {
  background-color: #f76975;
  border: none;
  color: #e2fc52;
  width: 10px;
}
